{% set page = {
  title: 'Choose one of these',
  caption: {
    text: 'Get a prescription or medicines information'
  },
  question: {
    radios: {
      items: [
        {
          text: "order a repeat prescription",
          value: 'RepeatPrescription'
        },
        {
          text: "get an emergency supply of prescribed medicine",
          value: 'EmergencyPrescription'
        },
        {
          text: "get a new prescription",
          value: 'NewPrescription'
        },
        {
          text: "know more about a medicine or its side effects",
          value: 'MedicineInformation'
        }
      ]
    }
  }
} %}

{% extends layouts.radios %}

{% block question_prepend %}
  <span class="nhsuk-body-l nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5" id="SelectedValue-hint">I want to<span aria-hidden="true">:</span></span>
{% endblock %}
