{% set page = {
  title: 'What is your home postcode?' | togglePOV({ pov: isFirstPerson }),
  redirectTo: './phone-number',
  question: {
    callout: {
      text: 'Your home postcode helps us find your NHS number.' | togglePOV({ pov: isFirstPerson }),
      position: 'top'
    },
    postcode: {
      dontKnowLink: true,
      name: "answers[location][home][postcode]",
      value: data.answers.location.home.postcode,
      hideUseLocation: true,
      label: {
        isPageHeading: false,
        text: 'Postcode'
      },
      hint: {
        text: 'For example, SE1 8UG'
      }
    }
  }
} %}

{% extends page.layout.file | default(layouts.postcode) %}
