{% set page = {
  title: 'Where are you right now?' | togglePOV,
  redirectTo: './check-home-postcode',
  question: {
    optionsList: {
      name: 'answers[location][current][address]',
      items: [
        {
          text: '1 Aneurin Bevan Way, Middleton, Manchester'
        },
        {
          text: '2 Aneurin Bevan Way, Middleton, Manchester'
        },
        {
          text: '3 Aneurin Bevan Way, Middleton, Manchester'
        },
        {
          text: '4 Aneurin Bevan Way, Middleton, Manchester'
        },
        {
          text: '5 Aneurin Bevan Way, Middleton, Manchester'
        },
        {
          text: '6 Aneurin Bevan Way, Middleton, Manchester'
        }
      ]
    }
  }
} %}

{% extends layouts.optionsList %}
