{% set page = {
  title: 'Where are you now?' | togglePOV,
  redirectTo: './age',
  question: {
    callout: {
      position: 'bottom',
      html: ("<p>We need to know where you are so we can find services to help.</p><p>We can only show services or give advice if you are in England.</p>" | togglePOV({ pov: isFirstPerson }))
    },
    postcode: {
      name: "answers[location][current][postcode]",
      value: data.answers.location.current.postcode,
      hideUseLocation: false,
      label: {
        text: 'Postcode',
        isPageHeading: false
      }
    }
  }
} %}

{% extends page.layout.file | default(layouts.postcode) %}
