{% set page = {
  title: 'Where to get help'
} %}

{% extends page.layout.file | d(layouts.base) %}
{% block content_header %}
  <h1 class="nhsuk-heading-xl">
    {{ page.title }}
  </h1>
{% endblock content_header %}

{% block content_primary %}

  <h3>Pharmacist (emergency supply)</h3>

  <p>
      These pharmacists can provide an emergency supply of some medicines that {{('you' | togglePOV(isFirstPerson))}} are prescribed regularly.
  </p>

  <p class="nhsuk-hint nhsuk-u-margin-bottom-5">
    This service needs more details from you to find {{ ('your' | togglePOV(isFirstPerson)) }} NHS number. The pharmacist will use this to check {{ ('your' | togglePOV(isFirstPerson)) }} prescribed medicines.
  </p>

  {{
    actionLink({
      text: "Start my request" | togglePOV(isFirstPerson),
      href: "./pharmacy-list"
    })
  }}

  <div class="app-section-break nhsuk-u-margin-top-0 app-section-break--thin-wide"></div>

  <p>This service is available in {{ data.answers.location.current.postcode | default('M1 1EA') }}.</p>

  <p><a href="./current-location">Change location</a></p>

  {# <div class="app-section-break nhsuk-u-margin-bottom-5"></div> #}

{% endblock content_primary %}
