{% set page = {
  title: 'Why did you not send a repeat prescription request?' | togglePOV(isFirstPerson),
  layout: {
    file: layouts.radios,
    back: true
  },
  question: {
    radios: {
      name: 'answers[prescriptionReasonNotRequested]',
      items: [
        {
          text: "I forgot" | togglePOV(isFirstPerson),
          value: "forgot"
        },
        {
          text: "I was unable to contact my GP surgery in time" | togglePOV(isFirstPerson),
          value: "unable-to-contact-gp"
        },
        {
          text: "I'm away from home" | togglePOV(isFirstPerson),
          value: "away-from-home"
        },
        {
          text: "I'm not yet registered with a GP surgery" | togglePOV(isFirstPerson),
          value: "not-registered-with-a-gp"
        },
        {
          text: "Something else",
          value: "other"
        }
      ]
    }
  },
  redirectTo: 'ep-guidance-interupt'
} %}

{% extends page.layout.file | d(layouts.base) %}


