{%- from 'tabs/macro.njk' import tabs %}

{% macro component(params) %}
  {% if caller %}
    {%- set component_html -%}{{- caller() -}}{%- endset -%}
    <section class="prototype-component-example">
      <div class="prototype-component-example__header">
        <h2 class="prototype-component-example__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
          {{ params.name }}
        </h2>
      </div>
      <div class="prototype-component-example__body">
        {{- caller() -}}
      </div>
      <div class="prototype-component-example__footer">
        {% set tabHTML %}
        <code style="white-space: pre-wrap;">
          {{- component_html | trim | htmlFormat | e | safe -}}
        </code>
        {% endset %}
        {% set tabNJK %}
          <code style="white-space: pre-wrap">{%- raw %}{{
  {% endraw %}{{ params.name | lower }}({ {% for option in params.options %}
    {{ option.key }}: {{ option.value }}{% if not loop.last %},{% endif %}{% endfor %}
  })
{% raw %}}}{% endraw %}
</code>{% endset %}
        {{
          tabs({
            items: [
              {
                label: "HTML",
                id: "html",
                panel: {
                  html: tabHTML
                  }
              },
              {
                label: "Nunjucks",
                id: "nunjucks",
                panel: {
                  html: tabNJK
                }
              }
            ],
            classes: 'nhsuk-u-margin-bottom-0'
          })
        }}
      </div>
    </section>
  {% else %}
    <p>This component should be used with the nunjucks 'call' tag</p>
  {% endif %}
{% endmacro %}
