{%- from 'tabs/macro.njk' import tabs %}

{#
# renderComponent macro
# ##########################################################
# Used for rendering a component in a consistent way for
# documenting why, when and how to use a component
######################################################### #}
{% macro _component(params) %}
    <section class="prototype-component-example">
      <div class="prototype-component-example__header">
        <h2 class="prototype-component-example__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
          {{ params.name }} &ndash; {{ params.variant }}
        </h2>
      </div>
      <div class="prototype-component-example__body">
        {{ params.html | safe }}
      </div>
      <div class="prototype-component-example__footer">
        {% set tabHTML %}
        <code style="white-space: pre-wrap;">
          {{- params.html | trim | htmlFormat | e | safe -}}
        </code>
        {% endset %}
        {% set tabNJK %}
          <code style="white-space: pre-wrap; overflow: auto;">{% filter trim %}
            {{- "{{ " | e | safe }}{{ params.name | lower -}}
          ({{ params.options | convertToJSON(false, 2) | safe -}})
          {{- "}}" | e | safe }}
          {%- endfilter -%}
          </code>
        {% endset %}
        {{
          tabs({
            items: [
              {
                label: "HTML",
                id: "html" + params.variant,
                panel: {
                  html: tabHTML
                }
              },
              {
                label: "Nunjucks",
                id: "nunjucks" + params.variant,
                panel: {
                  html: tabNJK
                }
              }
            ],
            classes: 'nhsuk-u-margin-bottom-0'
          })
        }}
      </div>
    </section>
{% endmacro %}

{#
# displayComponent macro
# ##########################################################
# Used for rendering a component in a consistent way for
# documenting why, when and how to use a component
######################################################### #}
{% macro displayComponent(params) %}
  {% if caller %}
    {% set caller_contents %}
      {{ caller() }}
    {% endset %}
    {% call _component({
      name: params.name,
      variant: params.variant,
      options: params.options,
      html: caller_contents
    }) %}
    {% endcall %}
  {% else %}
    <p>This displayComponent macro needs to used with a call block</p>
  {% endif %}
{% endmacro %}
