{% set page = {
  title: 'Managing your repeat prescription',
  layout: {
    file: layouts.yesno
  },
  question: {
    supressHeading: true,
    actions: {
      button: {
        text: 'Continue'
      }
    }
  },
  redirectTo: 'when-meds-due'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% set adviceHeading = "Before you continue, here's some advice" | noOrphans | safe %}

{% block question_body %}

    {%- if data.answers.whatHappenedToYourRepeatPrescriptionRequest == 'not-approved-by-gp' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage your repeat prescriptions so you do not run out of medicine, you can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>check how much time your GP surgery needs to approve your repeat prescription</li>
          <li>set a calendar reminder to order your next repeat prescription in time</li>
          <li>use the NHS App, your GP surgery website or pharmacy app to order your regular medicines</li>
        </ul>

        {{
          callout({
            text: 'Allow more time to order your prescription over bank holidays and weekends.',
            classes: 'app-callout--info'
          })
        }}

    {% elif data.answers.whatHappenedToYourRepeatPrescriptionRequest == 'approved-but-not-ready' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage your repeat prescriptions so you do not run out of medicine, you can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>sign up for text alerts or app notifications from the NHS App or your pharmacy app so you know when your medicines are ready to collect</li>
          <li>check the opening times of your chosen pharmacy</li>
          <li>ask if the pharmacy has a 24 hour dispensing machine for evening or weekend collections</li>
        </ul>

        {{
          callout({
            text: 'Allow more time to order your prescription over bank holidays and weekends.',
            classes: 'app-callout--info'
          })
        }}

    {% elif data.answers.whatHappenedToYourRepeatPrescriptionRequest == 'not-available-at-pharmacy' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>If your medicine is not in stock, the pharmacist will help find a pharmacy that does. You can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>sign up for text alerts or app notifications on the NHS App or your pharmacy app so you know when your medicines are ready to collect</li>
          <li>check whether your pharmacy offers a stock checking service on their app or website</li>
        </ul>

        {{
          callout({
            text: 'Allow more time to order your prescription over bank holidays and weekends.',
            classes: 'app-callout--info'
          })
        }}

    {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'i-forgot' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage your repeat prescriptions so you do not run out of medicine, you can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>set a calendar reminder to order your next repeat prescription in time</li>
          <li>use the NHS App, your GP surgery website or pharmacy app to order your regular medicines</li>
        </ul>

        {{
          callout({
            text: 'Allow more time to order your prescription over bank holidays and weekends.',
            classes: 'app-callout--info'
          })
        }}

      {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'unable-to-contact-gp' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage your repeat prescriptions so you do not run out of medicine, you can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>use the NHS App, your GP surgery website or pharmacy app to order your regular medicines</li>
          <li>set a calendar reminder to order your next repeat prescription in time</li>
          <li>check if your pharmacy has a reminder service for ordering your next repeat prescription</li>
        </ul>

        {{
          callout({
            text: 'Allow more time to order your prescription over bank holidays and weekends.',
            classes: 'app-callout--info'
          })
        }}

        {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'away-from-home' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage your repeat prescriptions so you do not run out of medicine, you can: </p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>check you have enough medicine to last while you’re away</li>
          <li>ask your GP to adjust your prescription date so you have enough medicine for before and after your trip</li>
          <li>set a calendar reminder to order your next repeat prescription in time</li>
          <li>take a few extra days medicine with you, in case you have travel delays</li>
        </ul>

        {{
          callout({
            text: 'Allow more time to order your prescription over bank holidays and weekends.',
            classes: 'app-callout--info'
          })
        }}

    {%- endif -%}

  <p>Continue your request for an emergency supply of medicine.</p>

{% endblock %}
