{% set page = {
  title: 'Home',
  startLink: {
    url: 'module-zero'
  },
  layout: {
    back: true,
    content_secondary: {
      show: true
    }
  }
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
    <h1>
        <span class="nhsuk-caption-l">111 online</span>
        <span data-test-id="heading-text">Emergency prescriptions</span>
    </h1>
{% endblock content_header %}

{% block content_primary %}

    <p class="nhsuk-body-l">Use this service to request a limited emergency supply of medicine you have completely run out of.</p>
    <p>This is only for medicine you're regularly prescribed on a repeat prescription.</p>
    <p>You will be charged your usual prescription fee. If you do not usually pay, it will be free.</p>

    <h2>When not to use this service</h2>
    <p>If you need medicine and also have any symptoms, call 111 and speak to an adviser instead.</p>
    <p>You cannot use this service to get:</p>
    <ul>
        <li>antibiotics for a new or recent problem</li>
        <li>controlled drugs that require identification to collect</li>
    </ul>
    {% call insetText({
      classes: 'nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6'
    }) %}
      {# <p>You do not need to know the name of medicines you take. A pharmacist will check your records.</p> #}
      <p>You do not need to tell us what medicine you take. The pharmacist will check your records.</p>
    {% endcall %}

    {{
      button({
        href: page.startLink.url,
        text: page.startLink.text | default('Start now')
      })
    }}

    <p>
        <a href="#">Other ways to contact 111 if you have a hearing problem or need help in other languages</a>
    </p>

{% endblock %}
