{% set page = {
  title: 'Managing your repeat prescription',
  layout: {
    file: layouts.yesno
  },
  question: {
    supressHeading: true,
    actions: {
      button: {
        text: 'Continue'
      }
    }
  },
  redirectTo: 'when-meds-due'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block question_body %}

    {%- if data.answers.whatHappenedToYourRepeatPrescriptionRequest == 'not-approved-by-gp' -%}

        <h2>Next time you need your medicine</h2>

        <p>Manage your repeat prescription so you do not run out of medicine.</p>

        {{ list({
          title: "Do",
          type: "tick",
          items: [
            {
              text: "check how much time your GP surgery needs to approve your repeat prescription"
            },
            {
              text: "set a calendar reminder to order 7 days before you need your medicines OR"
            },
            {
              text: "use the NHS App, your GP surgery website or pharmacy app to order your regular medicines"
            }
          ],
          classes: 'app-do-dont-list app-do-dont-list--multiline'
        }) }}

        {{
          list({
            title: "Don't",
            type: "cross",
            items: [
              {
                text: "forget over public or bank holidays, the GP and pharmacist need more time to approve and dispense medicines
"
              }
            ],
            classes: 'nhsuk-u-margin-bottom-4'
          })
        }}

    {% elif data.answers.whatHappenedToYourRepeatPrescriptionRequest == 'approved-but-not-ready' -%}

        <h2>Next time you need your medicine</h2>

        <p>Manage your repeat prescription so you do not run out of medicine.</p>

        {{ list({
          title: "Do",
          type: "tick",
          items: [
            {
              text: "sign up for text alerts or app notifications (using the NHS App or your pharmacy app) so you know when your medicines are ready to collect"
            },
            {
              text: "check the opening times of your chosen pharmacy"
            },
            {
              text: "ask if they have a 24 hour dispensing machine for out of hours collection"
            }
          ],
          classes: 'app-do-dont-list app-do-dont-list--multiline'
        }) }}

        {{
          list({
            title: "Don't",
            type: "cross",
            items: [
              {
                text: "do not forget to check pharmacy opening times during public and bank holidays, as they may not be open the same times as usual"
              }
            ],
            classes: 'nhsuk-u-margin-bottom-4'
          })
        }}

    {% elif data.answers.whatHappenedToYourRepeatPrescriptionRequest == 'not-available-at-pharmacy' -%}

      <h2>If your medicine is not available or out of stock</h2>

      <p>If your medicine is not in stock, your pharmacist can check with other local pharmacies to help you find it.</p>

      <h3>Next time you need your medicine</h3>

      {{ list({
        title: "Do",
        type: "tick",
        items: [
          {
            text: "sign up for text alerts or app notifications (using the NHS App or your pharmacy app) so you know when your medicines are ready to collect"
          },
          {
            text: "check whether your pharmacist offers a stock checking service on their app"
          }
        ],
        classes: 'app-do-dont-list app-do-dont-list--multiline nhsuk-u-margin-bottom-4'
      }) }}

    {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'i-forgot' -%}

        <h2>Managing your medicines</h2>

        <p>If you have lots of medicines it can be difficult to remember when to order. Many pharmacists let you request all your medicines at the same time, so you only order once.</p>

        <h3>Next time you need your medicine</h3>

        {{ list({
          title: "Do",
          type: "tick",
          items: [
            {
              text: "set a calendar reminder to order your repeat prescription in time"
            },
            {
              text: "try using the NHS App, your GP surgery website or your pharmacy app to order your medicine"
            }
          ],
          classes: 'app-do-dont-list app-do-dont-list--multiline'
        }) }}

        {{
          list({
            title: "Don't",
            type: "cross",
            items: [
              {
                text: "forget over public or bank holidays, the GP and pharmacist need more time to approve and dispense medicines"
              }
            ],
            classes: 'nhsuk-u-margin-bottom-4'
          })
        }}

      {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'unable-to-contact-gp' -%}

        <h2>{{ 'Other ways to order your repeat prescription' | noOrphans | safe }}</h2>


        <p>If you have difficulty contacting your GP surgery, you can order your repeat prescription using:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://www.nhs.uk/nhs-app/">the NHS app</a></li>
          <li>your GP surgery website</li>
          <li>your pharmacy app</li>
        </ul>

        <h3>Next time you need your medicine</h3>

        {{ list({
          title: "Do",
          type: "tick",
          items: [
            {
              text: "set a reminder in your phone or on a calendar to remember to order your repeat prescription."
            },
            {
              text: "check if your pharmacy has an app or text service which tells you when to order your repeat prescription."
            },
            {
              text: "allow more time during public holidays."
            }
          ],
          classes: 'app-do-dont-list app-do-dont-list--multiline'
        }) }}

        {{
          list({
            title: "Don't",
            type: "cross",
            items: [
              {
                text: "request an emergency supply of medicine unless you genuinely need one"
              }
            ],
            classes: 'nhsuk-u-margin-bottom-4'
          })
        }}

    {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'away-from-home' -%}

        <h2>Next time you travel</h2>

        {{ list({
          title: "Do",
          type: "tick",
          items: [
            {
              text: "talk to your GP surgery to tell them that you might need to order earlier so that your medicine is ready to collect before you travel."
            },
            {
              text: "set a reminder in your phone or on a calendar to remember to order your repeat prescription."
            },
            {
              text: "take extra with you for travel delays but make sure you also have some at home as well for your return."
            },
            {
              text: "allow more time during public holidays."
            }
          ],
          classes: 'app-do-dont-list app-do-dont-list--multiline nhsuk-u-margin-bottom-4'
        }) }}

    {% elif data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'not-registered-with-a-gp' -%}

        <h2>Before you need your next medicine</h2>

        {{ list({
          title: "Do",
          type: "tick",
          items: [
            {
              text: "register with a GP surgery"
            }
          ],
          classes: 'app-do-dont-list app-do-dont-list--multiline nhsuk-u-margin-bottom-4'
        }) }}

        <p>You can register with a GP in a number of ways which might fit your circumstances, such as:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>with a GP surgery in your local area</li>
          <li>{{'with a GP surgery outside local area, such as near where you work' | noOrphans | safe }}</li>
          {# <li>when living away from home you can register as a temporary patient with a GP surgery <div class="nhsuk-hint">for example, many students choose to do this</div></li> #}
          <li>with a GP surgery as a temporary patient, such as when living and studying away from home</li>
        </ul>

        <div class="app-section-break nhsuk-u-margin-bottom-5"></div>

    {%- endif -%}

  <p>Continue your request for an emergency supply of medicine</p>

{% endblock %}
