{% set page = {
  title: 'Go to the pharmacy',
  layout: {
    width: 'three-quarters',
    content_secondary: {
      show: false
    }
  }
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
    <h1>
        {{ page.title }}
    </h1>
{% endblock content_header %}

{% block content_primary %}

  {{ callout({
    "text": "We have sent your request. You can go to the pharmacy during its opening hours.",
    "classes": "app-callout--info"
  })}}

  <p>You need to tell them you were referred by 111.</p>

  <h2>Contacting them before you go</h2>

  <p>You can call the pharmacy before you go to tell them what medicine you need.</p>
  <p>The pharmacist will then tell you:</p>

  <ul>
      <li>if they have it in stock</li>
      <li>if it is safe to give you the medicine</li>
      <li>what to do if they cannot give you the medicine</li>
  </ul>

  <p>If you do not call them before you go, the pharmacist will check this information when you arrive.</p>

  <h2>If the pharmacy has no stock</h2>
  <p>If the medicine is not in stock, the pharmacist will contact another nearby pharmacy.</p>
  <p>If that pharmacy also has no stock, the pharmacist will contact another service to help you get the medicine.</p>
  <p>It is the pharmacist's responsibility to help you get the medicine you need.</p>

  <h2>
      What happens when you get there
  </h2>

  <p>If you did not contact them before arriving, the pharmacist will:</p>

  <ul>
      <li>check your records to see what you are regularly prescribed</li>
      <li>ask you some questions to get any information they need</li>
  </ul>

  <p>You might need to show proof of identity when you get there, such as photo ID or a credit or debit card.</p>

{% endblock %}

{% block content_footer %}

      <div class="app-service-details">
        <div class="app-service-details__content">
          <p>
            Pharmacy name<br>
            Secondline Road<br>
            Thirdline Town<br>
            {{ data.postcode | default('M1 1EA') }}
          </p>

          <p data-test-id="opening-time-text">Open today: 24 hours</p>
          <p>2.4 miles away</p>

          <br>

          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Book an appointment</span>
            </a>
          </div>
        </div>

        <div class="app-service-details__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15829092.975812001!2d-29.403383806044953!3d52.18840539750917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47deca2df836a047%3A0x7ec89c06d0427889!2sKent%20and%20Canterbury%20Hospital!5e0!3m2!1sen!2suk!4v1711532429758!5m2!1sen!2suk" width="100%" height="100%" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>

{% endblock content_footer %}
