{% set page = {
  title: 'Where to get help'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
  <h1 class="nhsuk-heading-xl">
    {{ page.title }}
  </h1>

  <div class="app-section-break nhsuk-u-margin-bottom-5"></div>

{% endblock content_header %}

{% block content_primary %}

  <h3>Pharmacist (emergency supply)</h3>

  <p data-test-id="EP-service-blurb">
      These pharmacists can provide an emergency supply of some medicines that you are prescribed regularly.
  </p>

  <p class="nhsuk-hint">
    This service needs more details from you to find your NHS number. The pharmacist will use this to check your prescribed medicines.
  </p>

  {{
    actionLink({
      text: "Start my request",
      href: "#"
    })
  }}

  {% call details({
    summaryText: "Why is this the recommended service?"
  }) %}
    <p>We show you services that can help with your symptoms.</p>
    <p>The places shown are open within the timeframe you need to get help. These services will either have space to see you, or can speak to you on the phone.</p>
  {% endcall %}

  <div class="app-section-break app-section-break--thin-wide"></div>

  <p>This service is available in {{ data.postcode | default('M1 1EA') }}.</p>

  <p><a href="#">Change my location</a></p>

  <div class="app-section-break nhsuk-u-margin-bottom-5"></div>

{% endblock content_primary %}
