{% set page = {
  title: 'Home',
  scripts: {
    compressedFlowTransition: true
  },
  bodyAttributes: {
    "data-no-entry-transition": "true",
    "data-transition-message": "Skipping to EP questions...",
    "data-transition-delay": ".5"
  },
  layout: {
    content_secondary: {
      show: true
    }
  }
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
    <h1>
        <span class="nhsuk-caption-l">111 online</span>
        <span data-test-id="heading-text">Emergency prescriptions</span>
    </h1>
{% endblock content_header %}

{% block content_primary %}

    <p class="nhsuk-body-l">Use this service to request a limited emergency supply of a medicine you’ve completely run out of.</p>
    <p>This must be a medicine you are prescribed regularly, through a repeat prescription.</p>
    <p>You will be charged your usual prescription fee. If you do not usually pay, it will be free.</p>

    <h2>When not to use this service</h2>
    <p>If you need medicine and also have any symptoms, call 111 and speak to an adviser instead.</p>
    <p>You cannot use this service to get:</p>
    <ul>
        <li>antibiotics for a new or recent problem</li>
        <li>controlled drugs that require identification to collect</li>
    </ul>

    <a role="button" href="./was-a-repeat-prescription-requested" class="nhsuk-button" data-module="nhsuk-button">Start now</a>

    <p>
        <a href="#">Other ways to contact 111 if you have a hearing problem or need help in other languages</a>
    </p>

{% endblock %}
