{% set page = {
  title: 'If the medicine is not in stock',
  layout: {
    file: layouts.yesno
  },
  question: {
    supressHeading: true,
    actions: {
      button: {
        text: 'Continue'
      }
    }
  },
  redirectTo: 'when-meds-due'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block question_body %}

  {% call callout({
    classes: "app-callout--attention"
  }) %}
    <h2>{{ page.title }}</h2>
    <p>Your pharmacist should contact another nearby pharmacy.</p>
    <p>It is the pharmacist's responsibility to help you get the medicine you need.</p>
  {% endcall %}

  <p>You can continue with your request for an Emergency Prescription.</p>

{% endblock %}
