{% set page = {
  title: 'Callout'
} %}

{% extends "layouts/component.html" %}

{% block component_documentation %}

  {% set demo_1 = {
    name: page.title,
    variant: 'default',
    options: {
      text: 'Sample text value'
    }
  } %}

  {% call prototype.displayComponent(demo_1) %}
    {{ callout(demo_1.options) }}
  {% endcall %}

  {% set demo_2 = demo_1 | objectMerge({
    variant: 'information',
    options: {
      classes: 'app-callout--info'
    }
  }) %}

  {% call prototype.displayComponent(demo_2) %}
    {{ callout(demo_2.options) }}
  {% endcall %}

{% endblock component_documentation %}

{% block description %}
  <p class="nhsuk-lede-text">You should use this component to display content it is important the user reads even if they do not read the entire page.</p>
{% endblock description %}


