{% set page = {
  title: 'Callout',
  summary: 'Highlight information to help the user comprehend a question they are being asked or an action they are being told to take.'
} %}

{% extends "layouts/component.html" %}

{% block component_documentation %}

  {% set demo_1 = {
    name: page.title,
    variant: 'default',
    options: {
      text: 'We need this in case we have to contact you for any reason'
    }
  } %}

  {% call prototype.displayComponent(demo_1) %}
    {{ callout(demo_1.options) }}
  {% endcall %}

  {% set demo_2 = demo_1 | objectMerge({
    variant: 'information',
    description: 'kjksjskjskj',
    options: {
      classes: 'app-callout--info'
    }
  }) %}

  {% call prototype.displayComponent(demo_2) %}
    {{ callout(demo_2.options) }}
  {% endcall %}

  {% set demo_3 = demo_1 | objectMerge({
    variant: 'attention',
    options: {
      classes: 'app-callout--attention'
    }
  }) %}

  {% call prototype.displayComponent(demo_3) %}
    {{ callout(demo_3.options) }}
  {% endcall %}

  {% set demo_4 = demo_1 | objectMerge({
    variant: 'alert',
    options: {
      classes: 'app-callout--alert'
    }
  }) %}

  {% call prototype.displayComponent(demo_4) %}
    {{ callout(demo_4.options) }}
  {% endcall %}

{% endblock component_documentation %}


