{% set page = {
  title: 'Check request details',
  question: {
    actions: {
      button: {
        text: 'Send details'
      }
    }
  },
  layout: {
    back: true
  },
  redirectTo: ('./confirmation-dsp' if data.answers.pharmacy == "dsp" else './confirmation')
} %}

{% extends layouts.question %}

{% block question_body %}

  {% call insetText() %}
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Pharmacist (emergency supply)</h2>
    {% if data.pharmacyDetails %}
      <p>
        {{ data.pharmacyDetails.name }}<br>
        {% if data.pharmacyDetails.type == 'Highstreet' %}
          {{ data.pharmacyDetails.addressLine1 }}<br>
          {{ data.pharmacyDetails.addressLine2 }}<br>
          {{ data.pharmacyDetails.postcode }}
        {% else %}
          Online Pharmacy
        {% endif %}
      </p>
    {% endif %}
  {% endcall %}

  <hr class="app-section-break app-section-break--thin-wide">

  {% if isFirstPerson %}

    <h2 class="nhsuk-heading-m">
      Personal details
    </h2>

    {{
      summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.answers.firstname | d('') + ' ' + data.answers.lastname | d('')
            },
            actions: {
              items: [
                {
                  href: "./name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: (data.answers.dob.day + ' / ' + data.answers.dob.month + ' / ' + data.answers.dob.year) if data.answers.dob
            },
            actions: {
              items: [
                {
                  href: "./date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Home postcode"
            },
            value: {
              text: data.answers.location.home.postcode | d('')
            },
            actions: {
              items: [
                {
                  href: "./add-home-postcode",
                  text: "Change",
                  visuallyHiddenText: "home postcode"
                }
              ]
            }
          },
          {
            key: {
              text: "Location address"
            },
            value: {
              html: (data.answers.location.current.address | d('') | replace(',',',<br>')) + (',<br>' + data.answers.location.current.postcode if data.answers.location.current.postcode)
            },
            actions: {
              items: [
                {
                  href: "./address-select",
                  text: "Change",
                  visuallyHiddenText: "location address"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.answers.phoneNumber | d('')
            },
            actions: {
              items: [
                {
                  href: "./name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Confirmation is sent to"
            },
            value: {
              html: (data.answers.receipt.textNumber if data.answers.receipt.textNumber) + (('<br>' + data.answers.receipt.emailAddress) if data.answers.receipt.emailAddress)
            },
            actions: {
              items: [
                {
                  href: "./receipt-method",
                  text: "Change",
                  visuallyHiddenText: "confirmation details"
                }
              ]
            }
          } if data.answers.receipt.methods.length > 0
        ]
      })
    }}

    <p>You must be in England to use this service. By confirming these details you agree to share them with the service.</p>

  {% else %}

    <h2 class="nhsuk-heading-m">
      Person who needs help
    </h2>

    {{
      summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.answers.firstname | d('') + ' ' + data.answers.lastname | d('')
            },
            actions: {
              items: [
                {
                  href: "./name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: (data.answers.dob.day + ' / ' + data.answers.dob.month + ' / ' + data.answers.dob.year) if data.answers.dob
            },
            actions: {
              items: [
                {
                  href: "./date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Home postcode"
            },
            value: {
              text: (data.answers.location.current.postcode if data.answers.isHomePostcode == "yes" else data.answers.location.home.postcode)
            },
            actions: {
              items: [
                {
                  href: "./add-home-postcode",
                  text: "Change",
                  visuallyHiddenText: "home postcode"
                }
              ]
            }
          },
          {
            key: {
              text: "Location address"
            },
            value: {
              html: (data.answers.location.current.address | d('') | replace(',',',<br>')) + (',<br>' + data.answers.location.current.postcode if data.answers.location.current.postcode)
            },
            actions: {
              items: [
                {
                  href: "./address-select",
                  text: "Change",
                  visuallyHiddenText: "location address"
                }
              ]
            }
          }
        ]
      })
    }}

    <h2 class="nhsuk-heading-m">
      Contact details
    </h2>

    {{
      summaryList({
        rows: [
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.answers.phoneNumber | d('')
            },
            actions: {
              items: [
                {
                  href: "./phone-number",
                  text: "Change",
                  visuallyHiddenText: "phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Confirmation is sent to"
            },
            value: {
              html: (data.answers.receipt.textNumber if data.answers.receipt.textNumber) + (('<br>' + data.answers.receipt.emailAddress) if data.answers.receipt.emailAddress)
            },
            actions: {
              items: [
                {
                  href: "./receipt-method",
                  text: "Change",
                  visuallyHiddenText: "confirmation details"
                }
              ]
            }
          } if data.answers.receipt.methods.length > 0
        ]
      })
    }}

    <p>{{ data.answers.firstname | d('They') }} must be in England to use this service. By confirming these details you agree to share them with the service.</p>

  {% endif %}

{% endblock question_body %}
