{% set page = {
  title: 'Contact the pharmacy',
  layout: {
    width: 'three-quarters',
    content_secondary: {
      show: false
    }
  }
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
    <h1>
        {{ page.title }}
    </h1>
{% endblock content_header %}

{% block content_primary %}

  {% call callout({
    classes: 'app-callout--info'
  }) %}
    <p class="nhsuk-body nhsuk-u-margin-bottom-2">We have sent your request</p>
    {% if data.answers.receipt.methods %}
      <p>We have also sent a confirmation to {{ (data.answers.receipt.emailAddress | d('hello@gmail.com')) if 'email' in data.answers.receipt.methods }}{{ ' and ' if data.answers.receipt.methods.length > 1 }}{{ (data.answers.receipt.textNumber | d('07967 688450')) if 'text' in data.answers.receipt.methods }}</p>
    {% endif %}
  {% endcall %}

  <h2>When you contact the pharmacy</h2>

  <p>You need to tell them you were referred by 111.</p>

  <p>Tell the pharmacist what medicine you need and when the next dose is due.</p>

  <p>The pharmacist will then tell you:</p>

  <ul>
      <li>if they have it in stock</li>
      <li>if it is safe to give you the medicine</li>
      <li>what to do if they cannot give you the medicine</li>
  </ul>

  <h2>Getting the medicine sent to you</h2>
  <p>If the pharmacist can supply the medicine they will arrange to deliver it to you.</p>
  <p>The medicine should turn up in time for you to take your next dose. If it does not, contact the pharmacy again.</p>
  <p>You will not have to pay for the delivery.</p>

  <h2>If the medicine is out of stock</h2>
  <p>The pharmacist will contact another service for you. It is the pharmacist's responsibility to help you get the medicine you need.</p>

  <div class="app-service-details">
    <div class="app-service-details__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-s">
        Drugs4Delivery
      </h2>
      <p>You can call today between: 8:30am to 6:00pm</p>

      <p class="nhsuk-u-margin-bottom-0"><b>Telephone</b></p>
      <h2 class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"><a href="#">0161 6884500</a></h2>
    </div>
  </div>

  {% if data.answers.whyDidYouNotSendARepeatPrescriptionRequest == 'not-registered-with-a-gp' -%}
    <h2>How to register with a GP surgery</h2>
    <p>The NHS website gives information about <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">registering with a GP near you</a>, and <a href="https://www.nhs.uk/nhs-app/nhs-app-help-and-support/prescriptions-in-the-nhs-app/nominating-a-pharmacy/">choosing a nominated pharmacy</a>. </p>
  {% endif %}

{%- endblock content_primary -%}

{% block main_footer %}
  {{ appStickyBottom() }}
{% endblock main_footer %}
