{% set page = {
  title: 'Managing your repeat prescription',
  layout: {
    file: layouts.yesno
  },
  question: {
    supressHeading: true,
    actions: {
      button: {
        text: 'Continue'
      }
    }
  },
  redirectTo: 'when-meds-due'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% set adviceHeading = "Before you continue, here's some advice" | noOrphans | safe %}

{% block question_body %}

    {%- if data.answers.prescriptionWhathappened == 'not-approved-by-gp' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage {{ ('your' | togglePOV(isFirstPerson), '') }} repeat prescriptions so {{ ('you' | togglePOV(isFirstPerson)) }} do not run out of medicine, {{ ('you' | togglePOV(isFirstPerson)) }} can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>check how much time {{ ('your' | togglePOV(isFirstPerson), 'the') }} GP surgery needs to approve {{ ('your' | togglePOV(isFirstPerson), 'the') }}  repeat prescription</li>
          <li>set a calendar reminder to order {{ ('your' | togglePOV(isFirstPerson)) }}  next repeat prescription in time</li>
          <li>use the NHS App, {{ ('your' | togglePOV(isFirstPerson), 'the') }} GP surgery website or pharmacy app to order {{ ('your' | togglePOV(isFirstPerson)) }} regular medicines</li>
        </ul>

        {% call callout({
          classes: 'app-callout--info'
        }) %}
          <p>Allow more time to order {{ ('your' | togglePOV(isFirstPerson), '') }} prescriptions over bank holidays and weekends.</p>
        {% endcall %}

    {% elif data.answers.prescriptionWhathappened == 'approved-but-not-ready' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage {{ ('your' | togglePOV(isFirstPerson), '') }} repeat prescriptions so {{ ('you' | togglePOV(isFirstPerson)) }} do not run out of medicine, {{ ('you' | togglePOV(isFirstPerson)) }} can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>sign up for text alerts or app notifications from the NHS App or {{ ('your' | togglePOV(isFirstPerson)) }} pharmacy app so {{ ('you' | togglePOV(isFirstPerson)) }} know when {{ ('your' | togglePOV(isFirstPerson)) }} medicines are ready to collect</li>
          <li>check the opening times of {{ ('your' | togglePOV(isFirstPerson)) }} chosen pharmacy</li>
          <li>ask if the pharmacy has a 24 hour dispensing machine for evening or weekend collections</li>
        </ul>

        {% call callout({
          classes: 'app-callout--info'
        }) %}
          <p>Allow more time to order {{ ('your' | togglePOV(isFirstPerson), '') }} prescriptions over bank holidays and weekends.</p>
        {% endcall %}

    {% elif data.answers.prescriptionWhathappened == 'not-available-at-pharmacy' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>If {{ ('your' | togglePOV(isFirstPerson, 'the')) }} medicine is not in stock, the pharmacist can help {{ ('you' | togglePOV(isFirstPerson, ' ')) }} find a pharmacy that has it. {{ 'You can:' | togglePOV(isFirstPerson, 'It may also help to:') }}</p>

        <ul class="nhsuk-list nhsuk-list--bullet nhsuk-list--spaced">
          <li>sign up for text alerts or notifications on the NHS App or {{ ('your' | togglePOV(isFirstPerson)) }} pharmacy app {{ ('to' | togglePOV(isFirstPerson, 'so they')) }} know when {{ ('your' | togglePOV(isFirstPerson)) }} medicines are ready to collect</li>
          <li>check whether {{ ('your' | togglePOV(isFirstPerson)) }} pharmacy offers a stock checking service on their app or website</li>
        </ul>

        {% call callout({
          classes: 'app-callout--info'
        }) %}
          <p>Allow more time to order {{ ('your' | togglePOV(isFirstPerson), '') }} prescriptions over bank holidays and weekends.</p>
        {% endcall %}

    {% elif data.answers.prescriptionReasonNotRequested == 'forgot' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage {{ ('your' | togglePOV(isFirstPerson), '') }} repeat prescriptions so {{ ('you' | togglePOV(isFirstPerson)) }} do not run out of medicine, {{ ('you' | togglePOV(isFirstPerson)) }} can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>set a calendar reminder to order {{ ('your' | togglePOV(isFirstPerson)) }} next repeat prescription in time</li>
          <li>use the NHS App, {{ ('your' | togglePOV(isFirstPerson), 'the') }} GP surgery website or pharmacy app to order {{ ('your' | togglePOV(isFirstPerson)) }} regular medicines</li>
        </ul>

        {% call callout({
          classes: 'app-callout--info'
        }) %}
          <p>Allow more time to order {{ ('your' | togglePOV(isFirstPerson), '') }} prescriptions over bank holidays and weekends.</p>
        {% endcall %}

      {% elif data.answers.prescriptionReasonNotRequested == 'unable-to-contact-gp' -%}

        <h2>{{ adviceHeading }}</h2>

        <p>To help manage {{ ('your' | togglePOV(isFirstPerson), '') }} repeat prescriptions so {{ ('you' | togglePOV(isFirstPerson)) }} do not run out of medicine, {{ ('you' | togglePOV(isFirstPerson)) }} can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>use the NHS App, {{ ('your' | togglePOV(isFirstPerson, 'the')) }} GP surgery website or pharmacy app to order {{ ('your' | togglePOV(isFirstPerson)) }} regular medicines</li>
          <li>set a calendar reminder to order {{ ('your' | togglePOV(isFirstPerson)) }} next repeat prescription in time</li>
          <li>check if {{ ('your' | togglePOV(isFirstPerson, 'the')) }} pharmacy has a reminder service for ordering {{ ('your' | togglePOV(isFirstPerson)) }} next repeat prescription</li>
        </ul>

        {% call callout({
          classes: 'app-callout--info'
        }) %}
          <p>Allow more time to order {{ ('your' | togglePOV(isFirstPerson), '') }} prescriptions over bank holidays and weekends.</p>
        {% endcall %}

        {% elif data.answers.prescriptionReasonNotRequested == 'away-from-home' -%}

        <h2>{{ adviceHeading }}</h2>

        {% if isFirstPerson %}
          <p>To help manage your repeat prescriptions so you do not run out of medicine, you can:</p>
        {% else %}
          <p>To help manage repeat prescriptions so they do not run out of medicine, they can:</p>
        {% endif %}

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>check {{ ('you' | togglePOV(isFirstPerson)) }} have enough medicine to last while {{ ("you're" | togglePOV(isFirstPerson)) }} away</li>
          <li>ask {{ ('your' | togglePOV(isFirstPerson)) }} GP if they can adjust {{ ('your' | togglePOV(isFirstPerson)) }} prescription dates so {{ ('you' | togglePOV(isFirstPerson)) }} have enough medicine before and after {{ ('you' | togglePOV(isFirstPerson)) }} travel</li>
          <li>set a calendar reminder to order {{ ('your' | togglePOV(isFirstPerson)) }} next repeat prescription in time</li>
          <li>take some extra medicine with {{ ('you' | togglePOV(isFirstPerson, 'them')) }}, in case {{ ('you' | togglePOV(isFirstPerson)) }} have travel delays</li>
        </ul>

        {% call callout({
          classes: 'app-callout--info'
        }) %}
          <p>Allow more time to order {{ ('your' | togglePOV(isFirstPerson), '') }} prescriptions over bank holidays and weekends.</p>
        {% endcall %}

    {%- endif -%}

  <p>Continue {{ ('your' | togglePOV(isFirstPerson), 'this') }} request for an emergency supply of medicine.</p>

{% endblock %}
