{% set page = {
  title: 'Get help for your symptoms',
  entrylinks: [
    {
      text: "help for my symptoms or injury",
      url: '#'
    },
    {
      text: "dental help",
      url: '#'
    },
    {
      text: "mental health help",
      url: '#'
    },
    {
      text: "a prescription or medicines information",
      url: './guided-entry/medicines-help'
    },
    {
      text: "help with an existing medical condition",
      url: '#'
    }
  ],
  layout: {
    file: layouts.start
  }
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block large_screen_expanders %}
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary"><span class="nhsuk-details__summary-text">Expander title here</span></summary>
      <div class="nhsuk-details__text">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, fugiat ad assumenda dolorem vero quaerat quidem voluptates sunt recusandae consequatur veritatis cum blanditiis pariatur natus totam culpa cumque impedit ipsa?</p>
      </div>
    </details>
{% endblock large_screen_expanders %}

{% block small_screen_expanders %}
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary"><span class="nhsuk-details__summary-text">Expander title here</span></summary>
      <div class="nhsuk-details__text">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, fugiat ad assumenda dolorem vero quaerat quidem voluptates sunt recusandae consequatur veritatis cum blanditiis pariatur natus totam culpa cumque impedit ipsa?</p>
      </div>
    </details>
{% endblock small_screen_expanders %}
