{% set page = {
  title: 'Choose a pharmacy',
  layout: {
    back: true,
    content_secondary: {
      show: true
    }
  },
  redirectTo: 'referral-details-notice'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
  <h1><span>Choose a pharmacy</span></h1>
{% endblock content_header %}

{% block content_primary %}

  <p>A pharmacist can provide an emergency supply of some medicines that are prescribed regularly.</p>

  <form method="post" action="#">

    <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-4">

      <p>We found 2 pharmacies available near {{ data.answers.location.current.postcode | default('M1 1EA') }}</p>

      <div class="pharmacy-card-i">
        <div class="pharmacy-details-i">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            Local Pharmacy - Manchester Road, Heywood
          </h2>
          <p>
            50 Manchester Rd<br>
            Heywood<br>
            OL10 2AH
          </p>
          <p>2.4 miles away</p>
          <p style="margin-bottom:0px;">Open today: 9:00am to 6:30pm</p>
        </div>
        <div class="select-panel-i">
          <button type="submit" name="answers[pharmacy]" value="highstreet" class="app-button--link app-option-list__button">
            <p>Choose this pharmacy</p>
          </button>
          <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34" fill="#4c6272">
            <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          </svg>
        </div>
      </div>

      <div class="pharmacy-card-i">
        <div class="pharmacy-details-i">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            Drugs4Delivery
          </h2>
          <p class="nhsuk-u-margin-bottom-4">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Online pharmacy
            </strong>
          </p>
          <p>Open today: 8:30am to 6:00pm</p>
          <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">
          <p class="nhsuk-body-s">Online pharmacies mostly offer consultations over video or the phone.</p>
          <p class="nhsuk-body-s" style="margin-bottom:10px;">Rarely, you might be asked to visit their local premises.</p>
        </div>
        <div class="select-panel-i">
          <button type="submit" name="answers[pharmacy]" value="dsp" class="app-button--link app-option-list__button">
            <p>Choose this pharmacy</p>
          </button>
          <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34" fill="#4c6272">
            <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          </svg>
        </div>
      </div>

    </fieldset>

    {% call details({
      summaryText: 'I cannot use these pharmacies to get an emergency supply of my medicine'
    }) %}
          <p>If these pharmacies cannot help you get your emergency supply, <a href="#">see other services that can help</a>.</p>
          <p>If these pharmacies cannot help you get your emergency supply call 111 instead.</p>
    {% endcall %}

    <input type="hidden" name="redirectTo" value="{{ page.redirectTo }}">

  </form>

{% endblock %}
