{% set page = {
  title: 'Home',
  layout: {
    back: false,
    content_secondary: {
      show: true
    }
  }
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
  <h1 class="nhsuk-heading-l">
    Welcome
  </h1>
{% endblock content_header %}

{% block content_primary %}
  <p>Thank you for your time today.</p>

  <ul class="nhsuk-list app-list--spaced">
    <li>
      <a href="/ep/questions-flow/version-8/">NHS 111 start</a>
    </li>
    <li>
      <a href="/ep/questions-flow/version-8/ep-start">NHS 111 - Emergency Prescription start</a>
    </li>
    <li>
      <a href="/ep/questions-flow/version-8/was-a-repeat-prescription-requested">Repeat prescription request</a>
    </li>
    <li>
      <a href="/ep/questions-flow/version-8/pharmacy-list">Service selection</a> (Pharmacy list)
    </li>
    <li>
      <a href="/ep/questions-flow/version-8/confirmation-highstreet">Confirmation</a> (Highstreet)
    </li>
    <li>
      <a href="/ep/questions-flow/version-8/confirmation-dsp">Confirmation</a> (DSP)
    </li>
  </ul>
{% endblock %}

{% block footer %} {% endblock footer %}
